/* General Styling */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 50px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px  #7e7cf5;
    
}

h1 {
    font-size: 34px;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

/* left corner styling */

img{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #f80808;
    margin-bottom: 20px;
}

.left-section {
    background-color: #13132e;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-right: 5px solid white;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #13132e;
    border-radius: 10px;
    box-shadow: 0 0 15px #7e7cf5;
    margin-top: 2%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;

}

ul li {
    margin: 5px 0;
    }

/* Right Section */
.right-section{
    padding: 20px;
    width: 70%;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #7e7cf5;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    background-color: #13132e;
    

}

button:hover {
    background-color: #2f255c;
}

@media print {
    .btnDiv{
        display: none;
    }
}